
.search-ingredients {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;

}

.search-ingredients > button {
    margin-left: 5%;
}

.search--input {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 100%;
    border: solid darkgray 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #232a27;
}